= form_for :query, method: :get, html: {class: 'form-horizontal'} do |form|
  .control-group{"ng-controller" => 'CitySelector'}
    %label.control-label Город
    .controls{"style" => "position: relative"}
      .input-append
        %input.span6{"type" => "text", "disabled" => true, "value" => "{{selectedCity.title}}"}
        %button.btn{"type" => "button", "ng-click" => "toggleComboBox()"}
          %i.icon-chevron-down{"ng-hide" => "comboBoxOpen"}
          %i.icon-chevron-up{"ng-show" => "comboBoxOpen"}
      %ul.dropdown-menu{"style" => "top: 27px; left: auto; width: 497px", "ng-show" => 'comboBoxOpen'}
        %li
          %input{"type" => "text", "style" => "width: 473px", "ng-model" => "search"}
        %li{"ng-repeat" => "city in loadedCities"}
          %a{"href" => "#", "ng-click" => "select(city)"} {{city.title}} {{city.region}}
  
  
  .control-group{"ng-controller" => 'TagsSelector', 'ng-init' => "loadTags(#{tag_list.to_json})"}
    %label.control-label Тэги
    .controls
      .label{'ng-repeat' => 'tag in tags | filter: {selected: true}', 'ng-click' => 'tag.selected = false'}
        {{tag.name}}
        %input{'type' => 'hidden', 'value' => '{{tag.name}}', 'name' => 'query[tags][]'}
      %span{"style" => "position: relative"}
        %input.span3{"type" => "text", "ng-model" => "search"}
        %ul.dropdown-menu{"style" => "top: 21px; left: auto; width: 218px", "ng-show" => 'comboBoxOpen'}
          %li{'ng-repeat' => 'tag in tags | filter:search | filter:{selected: false}'}
            %a{"href" => "#", "ng-click" => "select(tag)"} {{tag.name}}


  %center{'ng-controller' => 'ScopeSelector', 'ng-init' => "scope = '#{scope}'"}
    %input{'type' => 'hidden', 'name' => 'query[scope]', 'value' => '{{scope}}'}
    .btn-group
      %a.btn{'ng-click' => 'scope = "all"', 'ng-class' => 'activeIf("all")'} Все объявления
      %a.btn{'ng-click' => 'scope = "friends"', 'ng-class' => 'activeIf("friends")'} Только друзей
  
  /     
  /     
  /   .row-fluid{'ng-controller' => 'TagsSelector', 'ng-init' => "loadTags(#{tag_list.to_json})"}    
  /     .span4
  /       %p.lead Доступные теги
  /       .well.well-small.tag-cloud
  /         %input.span12{'type' => 'search', 'ng-model' => 'search', 'placeholder' => 'Поиск тега'}
  /         %ul.inline
  /           %li{'ng-repeat' => 'tag in tags | filter:search | filter:{selected: false}'}
  /             %span.label.label-warning{'href' => '#', 'ng-click' => 'tag.selected = true', 'style' => 'cursor: pointer'} {{tag.name}}
  / 
  /     .span4
  /       %p.lead Выбранные теги
  /       .well.well-small.tag-cloud
  /         %ul.inline
  /           %li{'ng-repeat' => 'tag in tags | filter: {selected: true}'}
  /             
  /             %span.label.label-success{'href' => '#', 'ng-click' => 'tag.selected = false', 'style' => 'cursor: pointer'} {{tag.name}}
