%center
  = form_for task, method: :delete do |form|
    - if task.requester_uid == current_person_uid
      = form.submit 'Удалить', class: 'btn btn-primary'
      = link_to 'Редактировать', edit_task_path(task), class: 'btn btn-primary'
    = link_to 'Рекоммендовать', new_task_reference_path(task), class: 'btn btn-primary'
  
    
