%div{'ng-controller' => 'QueryForm'}

  - if scope == 'own'
    = render 'tasks/units/query_form'
  - else
    .pull-right= link_to 'Добавить объявление', new_task_path, class: 'btn btn-primary'
    %p.lead Мои объявления

  = render 'tasks/units/pager'  
  %div
    %a.row-fluid.task{"ng-repeat" => "task in tasks", "href" => "/tasks/{{task.id.$oid}}"}
      .span2
        %img{src: "{{person(task.requester_uid).photo_big}}"}
      .span10
        %ul.inline.pull-right
          %li
            %i.icon-map-marker
            {{city(task.cid).name}}
        %ul.inline
          %li
            {{person(task.requester_uid).first_name}}
            {{person(task.requester_uid).nickname}}
            {{person(task.requester_uid).last_name}}
          %li
            %i.icon-time
            {{task.time}}
          %li
            %i.icon-calendar
            {{task.date}}
        %ul.inline
          %li
            %h4 {{task.title}}
        %ul.inline.tags-cloud
          %li.tag{'ng-repeat' => 'tag in task.tags'} {{tag}}
  = render 'tasks/units/pager'