%div{'ng-controller' => 'Static'}
  = render 'tasks/units/task', task: @task
  .row-fluid
    %p= @task.description
  = render 'tasks/units/task_menu', task: @task
  - unless @task.references.blank?
    %p.lead Рекоммендации
  - @task.references.each do |reference|
    = render 'references/units/reference', reference: reference
    %hr