%p.lead Я рекомендую
- @references.where(referencer_uid: current_person_uid).each do |reference|
  = render 'references/units/my_reference', reference: reference

%p.lead Меня рекомендуют
- @references.where(:referenced_uid => current_person_uid).each do |reference|
  = render 'references/units/my_reference', reference: reference

= render "layouts/back"