@import 'bootstrap'


ul.dropdown-menu
  display: block
  input
    margin: 0 5px 5px 5px

.controls > .label
  margin-right: 4px

.inviz
  outline: none
  border: 0
  padding: 0
  margin: 0
 
.navbar-avatar
  height: 40px
  width: 40px

textarea
  resize: none


.tag-cloud
  height: 93px
  overflow: hidden

ul.unstyled
  margin: 0


.friends
  li
    margin-bottom: 2px
    margin-top: 2px
    cursor: pointer
    &:hover
      background: #f0f0f0