@import 'bootstrap'

body
  padding: 5px 0


ul.dropdown-menu
  display: block
  max-height: 500px
  overflow: hidden
  hr
    margin: 0
  input
    margin: 0 5px 5px 5px

.selected_tag
  cursor: pointer
  font-size: 24px
  line-height: 24px
  margin-right: 10px
  &:hover
    text-decoration: line-through
  &:not(:first-child)
    &:before
      content: '+ '
      font-weight: bold
      display: inline
      text-decoration: none !important

.task
  display: block
  padding: 15px 0
  border-radius: 5px
  color: black !important
  ul
    margin: 0
  &:hover
    background: #eee

.tags-cloud
  max-height: 96px
  overflow: hidden

.controls > .label
  margin-right: 4px

li.tag
  border-radius: 2px
  border: 1px #e3e3e3 solid
  background: #f4f4f4
  padding 3px 6px
  cursor: pointer
  margin: 0 10px 10px 0
  color: #535353
  &:hover
    border-color: #a2c0dc
    background: #dbe7f5

textarea
  resize: none


ul.unstyled
  margin: 0

ul.friends
  max-height: 260px
  overflow-y: scroll
  li
    margin-bottom: 2px
    margin-top: 2px
    cursor: pointer
    &:hover
      background: #f0f0f0

.btn-user
  img
    height: 18px
    width: 18px