// Place all the styles related to the references controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "button";
body {
    background-color: white;
    font-family: 'OpenSans', sans-serif, arial;
    font-size: 14px;
}
h1 {
    font-family: 'Open Sans Book', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #577ca3;
}
h2 {

}
h3 {

}
h4 {

}
.double_line {
    height: 1px;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}
/*** Main page **/
/* Search bar */
.search-bar {
    float: left;
    margin-left: 13px;
    border-radius: 2px;
}
.city-select {
    float: left;
    margin-left: -8px;
}
.search-bar input {
    width: 435px;
    height: 29px;
    box-shadow: none;
}
.search-bar input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.search-bar fieldset {
    position: relative;
}
/* User menu */
#dropdown-1 {
    left: -120px !important;
    top: 45px !important;
}
#dropdown-1 .dropdown-menu {
    min-width: 120px;
    max-width: 151px;
    border-radius: 3px;
}
#dropdown-1.dropdown.dropdown-tip:before { 
    top: -6px;
    left: 129px; 
}
#dropdown-1.dropdown.dropdown-tip:after {
    left: 130px;
}
.user-menu {
    margin-right: 17px;
    position: relative;
    padding-bottom: 40px;
    display: inline-block;
    float: right;
    margin-top: -2px;
}
.user-menu img {
    position: absolute;
    right: 20px;
    width: 65px;
    top: 5px;
}
a.drop-toggle {
    background: url("../images/list_of_post_03.png") no-repeat;
    height: 6px;
    width: 12px;
    display: block;
}
a.drop-toggle:hover {
    background: url('../images/list_of_post_06.png') no-repeat;
}
.user-menu a.drop-toggle {
    float: right;
    margin-top: 26px;
    margin-left: 9px;
}

/* City selector */
.city-select input.city {
    width: 153px;
}
.city-select fieldset {
    position: relative;
    width: 170px;
}
.city-select .drop-toggle {
    right: 7px;
    position: absolute;
    top: 16px;
}
#dropdown-2 {
    left: 13px !important;
    top: 31px !important;
}
#dropdown-2 .dropdown-menu {
    min-width: 180px;
    border-radius: 0;
}
#dropdown-2.dropdown.dropdown-tip:before {
    content: none;
}
#dropdown-2.dropdown.dropdown-tip:after {
    content: none;
}
/* Tags */
.tags {
  clear: both; 
  margin-top: -14px;
  margin-left: -34px;
}
.tags ul {
    list-style: none;
    width: 760px;
}
.tags ul .tag {
float: left;
margin-right: 11px;
margin-bottom: 7px;
background: #F0F0F0;
padding: 3px 10px;
border: solid 1px #D6D6D6;
border-radius: 2px;
}
.tags ul .tag a {
    text-decoration: none;
    color: #3F3F3F;
}
.tags ul .tag:hover {
background: #C2DFF0;
border: solid 1px #A2BFDB;
}
.selected-tags {
    position: absolute;
    top: 11px;
    left: 45px;
}
.selected-tags .tag {
    float: left;
    margin-right: 16px;
    position: relative;
    background: #F0F0F0;
    padding: 3px 7px;
    padding-right: 30px;
    border: solid 1px #D6D6D6;
    border-radius: 2px;
    a.icon-close {
        display: block;
        width: 16px;
        height: 10px;
        background: url("../images/create_post_03.png") no-repeat 8px 8px;
        position: absolute;
        top: -5px;
        right: 10px;
        border-left: 1px solid #D6D6D6;
        padding-top: 4px;
        padding-bottom: 8px;
        margin-top: 5px;
        margin-right: -4px;
}
    a.icon-close:hover {
        width: 22px;
        height: 22px;
        margin: 0;
        padding: 0;
        top: 0px;
        right: 0px;
        background: url('../images/tag_close.png') no-repeat 0px -1px;
    }
}
/* Option for tasks */
.friend-radio {
    clear: both;
    padding-top: 22px;
.radio {
    margin: auto 185px; 
    background: #FFF;  
    display: inline-block;  
    overflow: hidden;  
    border: 1px solid #E1E1E1;  
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;  
    margin-top: -19px;
    background: #828c95;
    background: -moz-linear-gradient(top, #828c95 0%, #dbdbdb 0%, #efefef 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828c95), color-stop(0%,#dbdbdb), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top, #828c95 0%,#dbdbdb 0%,#efefef 100%); 
    background: -o-linear-gradient(top, #828c95 0%,#dbdbdb 0%,#efefef 100%);
    background: -ms-linear-gradient(top, #828c95 0%,#dbdbdb 0%,#efefef 100%); 
    background: linear-gradient(to bottom, #828c95 0%,#dbdbdb 0%,#efefef 100%);
}
.radio div:hover {
    background-color: #6084a9;
    background-image: -moz-linear-gradient(top, #6084a9, #507399);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6084a9), to(#507399));
    background-image: -webkit-linear-gradient(top, #6084a9, #507399);
    background-image: -o-linear-gradient(top, #6084a9, #507399);
    background-image: linear-gradient(to bottom, #6084a9, #507399);
    color: #FFF;
    border-right: #6084A9 solid 1px;
    border-left: #6084A9 solid 1px;
}
.radio .active {
    background: #b5bdc8;
    background: -moz-linear-gradient(top, #b5bdc8 0%, #939393 0%, #666666 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(0%,#939393), color-stop(100%,#666666));
    background: -webkit-linear-gradient(top, #b5bdc8 0%,#939393 0%,#666666 100%);
    background: -o-linear-gradient(top, #b5bdc8 0%,#939393 0%,#666666 100%);
    background: -ms-linear-gradient(top, #b5bdc8 0%,#939393 0%,#666666 100%);
    background: linear-gradient(to bottom, #b5bdc8 0%,#939393 0%,#666666 100%); 
    color: white;
}
.my-recomends {
    display: block;  
    float: left;  
    color: #3D3D3D; 
    font-size: 13px;  
    padding-left: 17px; 
    padding-right: 10px;  
    border-right: 1px solid #DEDEDE;  
    height: 28px;
    line-height: 25px;
    padding-top: 6px;
}
.all-users {
    display: block;  
    float: left;  
    color: #3D3D3D;  
    font-size: 13px;  
    padding-left: 17px;
    padding-right: 10px;  
    border-right: 1px solid #DEDEDE;  
    height: 28px;
    line-height: 25px;
    padding-top: 6px;
}
.friends {
    display: block;  
    float: left;  
    color: #3D3D3D; 
    font-size: 13px;  
    padding-left: 17px;
    padding-right: 70px; 
    border-right: 1px solid #DEDEDE;  
    height: 28px;
    line-height: 25px;
    padding-top: 6px;
    span {
    display: block;
    width: 100px;
}
}
}
/* Tasks */
.top {
padding-top: 25px;
    .add-task {
    float: right;
    margin-top: -50px;
}
}


.main-tasks .counter {
display: none;
}
hr {
    border: solid 1px #E7EAED;
}
.deep-desc .tags {
    clear: none;
    margin-left: 0;
    margin-top: -4px;
}
.main-tasks .user-block {
padding-top: 7px;
padding-bottom: 49px;
}
.main-tasks .user-block p.description {
    display: none;
}
.pagination {
padding-top: 30px;
margin: 15px auto;
width: 435px;
}
.pagination * {
    background: #B5BDC8;
    background: -moz-linear-gradient(top, #B5BDC8 0%, #FAFAFA 0%, #EFEFEF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B5BDC8), color-stop(0%, #FAFAFA), color-stop(100%, #EFEFEF));
    background: -webkit-linear-gradient(top, #B5BDC8 0%, #FAFAFA 0%, #EFEFEF 100%);
    background: -o-linear-gradient(top, #B5BDC8 0%, #FAFAFA 0%, #EFEFEF 100%);
    background: -ms-linear-gradient(top, #B5BDC8 0%, #FAFAFA 0%, #EFEFEF 100%);
    background: linear-gradient(to bottom, #B5BDC8 0%, #FAFAFA 0%, #EFEFEF 100%);
    text-decoration: none;
    border: #C7C7C7 1px solid;
    padding: 3px 8px;
    color: #4E4E4E;
    border-radius: 2px;
}
.pagination .current {
    background: #B5BDC8;
    background: -moz-linear-gradient(top, #B5BDC8 0%, #939393 0%, #666 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B5BDC8), color-stop(0%, #939393), color-stop(100%, #666));
    background: -webkit-linear-gradient(top, #B5BDC8 0%, #939393 0%, #666 100%);
    background: -o-linear-gradient(top, #B5BDC8 0%, #939393 0%, #666 100%);
    background: -ms-linear-gradient(top, #B5BDC8 0%, #939393 0%, #666 100%);
    background: linear-gradient(to bottom, #B5BDC8 0%, #939393 0%, #666 100%);
    color: #FFF;
}
.pagination *:active {
    background-color: #3b5776;
    background-image: linear-gradient(to bottom, #3b5776, #3b5776);
    background-image: -moz-linear-gradient(top, #3b5776, #3b5776);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5776), to(#3b5776));
    background-image: -webkit-linear-gradient(top, #3b5776, #3b5776);
    background-image: -o-linear-gradient(top, #3b5776, #3b5776);
    color: #FFF;
}
.pagination *:hover {
    background-color: #6084a9;
    background-image: -moz-linear-gradient(top, #6084a9, #507399);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6084a9), to(#507399));
    background-image: -webkit-linear-gradient(top, #6084a9, #507399);
    background-image: -o-linear-gradient(top, #6084a9, #507399);
    background-image: linear-gradient(to bottom, #6084a9, #507399);
    color: #FFF;
}
/* Task show */
menu form {
    display: inline;
}
.card-menu {
    margin: 0 auto;
    width: 620px;
    padding: 25px 0px 10px;
}
.user-card {
    padding-bottom: 65px;
}
.user-card img {
    margin-left: 0;
    margin-top: 10px;
    float: left;
    width: 82px;
}
.user-card .user-desc {
    float: left;
    margin-top: 10px;
    margin-left: -57px;
}
.user-card .user-desc.feedback-desc .name {
    margin-left: 28px;
}
.user-card .user-desc .name {
    margin-left: 0;
    float: left;
}
.user-card .user-desc .created_date {
    display: block;
    float: left;
    color: #555E6C;
    font-size: 13px;
    background: url(../images/feedback_03.png) no-repeat 8px 1px;
    padding-left: 26px;
    padding-right: 10px;
    margin-left: 36px;
    height: 25px;
}
.user-card .user-desc .created_time {
    display: block;
    float: left;
    color: #555E6C;
    font-size: 13px;
    background: url(../images/feedback_06.png) no-repeat 8px 1px;
    padding-left: 26px;
    padding-right: 10px;
    height: 25px;
}
.user-card .user-desc .city {
    display: block;
    float: left;
    color: #555E6C;
    font-size: 13px;
    background: url(../images/feedback_09.png) no-repeat 12px 2px;
    padding-left: 26px;
    padding-right: 10px;
    margin-left: 30px;
    height: 25px;
}
.user-card .title {
    clear: both;
}
.user-card .deep-desc {
    float: left;
    margin-top: 25px;
    margin-left: 35px;
    padding-bottom: 25px;
}
.user-card .tags li {
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 19px;
    height: 19px;
    padding: 0 6px;
    margin-right: 2px;
    margin-bottom: 6px;
    overflow: hidden;
    background: #F1F1F1;
    color: #686868;
    border: #E2E2E2 solid 1px;
}

.counter {
    clear: both;
    text-align: center;
    
    .stats {
        margin: auto;
        background: #FFF;
        display: inline-block;
        overflow: hidden;
        border: 1px solid #E1E1E1;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-top: -15px;
        .count {
            display: block;
            float: left;
            color: #555E6C;
            font-size: 13px;
            background: url(../images/feedback_15.png) no-repeat 7px 7px;
            padding-left: 26px;
            padding-right: 10px;
            border-right: 1px solid #DEDEDE;
            height: 25px;
            line-height: 25px;
        }
        .references {
            display: block;
            float: left;
            text-align: left;
            color: #555E6C;
            font-size: 13px;
            background: url(../images/feedback_17.png) no-repeat 7px 7px;
            padding-left: 24px;
            padding-right: 10px;
            border-left: 1px solid #F7F7F7;
            border-right: 1px solid #DEDEDE;
            height: 25px;
            line-height: 25px;
        }
    }
}

.card-footer {
    margin: 0 auto;
    width: 240px;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* Reference */
section.reference {
    span.ng-binding {
        margin-left: 34px;
    }
    .name.ng-binding {
        margin-left: 0px;
        width: 138px;
    }
    .reference_item {
        float: left;
        margin-left: 16px;
        img {
            margin-left: 40px;
        }
    }
    .middle {
        float: left;
        font-family: 'OpenSans Book', sans-serif, arial;
        font-size: 12px;
        text-transform: lowercase;
        margin-top: 12px;
        padding-right: 24px;
        padding-left: 22px;
        background: url(../images/feedback_22.png) no-repeat 65px 5px;
        padding-top: 27px;
    }
    p.description {
        float: left;
    }
    form {
        float: right;
        padding-right: 19px;
    }
}
/*** My reference **/
.reference-list  .back {
    float: right;
    margin-bottom: 13px;
}
.arrow {
    background: url('../images/commends_03.png') no-repeat;
    display: block;
    width: 13px;
    height: 29px;
    float: left;
    margin-top: 23px;
    margin-right: 15px;
    margin-left: 10px;
}
.recomender {
    float: left;
    margin-top: 13px;
    img {
        margin-left: 10px;
        width: 70px;
    }
}
.recomend_to {
    img {
        width: 95px;
        margin-top: -1px;
    }
    .name {
    float: left;
        margin-left: 27px;
    }
    .deep-desc {
    clear: none;
        margin-left: -67px;
    }
    .user-desc {
        float: none;
    }
}
.other-reference {
    clear: both;
}
.form-references textarea {
padding-top: 9px;
}
.form-references {
    border: solid #CECECE 1px;
    display: inline-block;
    padding-bottom: 19px;
    padding-left: 21px;
    padding-right: 18px;
    border-radius: 4px;
    padding-top: 13px;
    position: relative;
    .close a {
        position: absolute;
        right: 20px;
        top: 18px;
        background: url('../images/post_03.png') no-repeat;
        height: 15px;
        width: 11px;
        text-indent: -9999px;
    }
    footer {
        float: right;
        margin-right: 11px;
    }
    footer.form {
        margin-left: 11px;
    }
}
/* References list */
.friends {
    width: 42px;
}
ul.friends {
width: 42px;
overflow: scroll;
height: 305px;
width: 254px;
margin-top: 1px;
margin-left: -11px;
}

.friends input {
    width: 13px;
    margin-top: 12px;
    margin-left: 21px;
}
.friends label {
    margin-left: 0px;
    float: left;
    display: block;
}
.friends img {
    float: left;
    margin-bottom: 20px;
    margin-right: 38px;
}
.friends li {
    display: block;  
    width: 252px;
    clear: both;
    margin-bottom: 40px;
    margin-left: -26px;
}
.form-references input[type="search"] {
    width: 244px;
}

/*** FORM ***/
fieldset {
    border: none;
    padding-bottom: 10px;
}
fieldset label {
    width: 120px;
    display: inline-block;
    margin-bottom: 9px;
    padding-top: 10px;
    float: left;
}
fieldset input, fieldset textarea {
    width: 390px;
    border-radius: 4px;
    border: #DDD solid 1px;
    height: 22px;
    padding: 2px 13px;
    -moz-box-shadow: inset 0 4px 9px -6px #000;
    -webkit-box-shadow: inset 0 4px 9px -6px #000;
    box-shadow: inset 0 4px 9px -6px #000;
}
fieldset textarea {
    height: 125px;
    font-family: 'OpenSans', sans-serif;
}
input[type="search"] {
-webkit-appearance: none;
box-sizing: initial;
}
footer.form {
    margin-left: 130px;
    padding-top: 20px;
    .submit {
        margin-right: 67px;
    }
}
input.submit, .btn-vk {
    @include vkbutton;
}
a.btn-vk {
    text-decoration: none;
}
.ng-binding {
margin-left: 81px;
}

/*** Icon */
.back:after {
    content: " ";
    background: url('../images/create_post_11.png');
    width: 17px;
    height: 13px;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: -2px;
}
i.icon-search {
    display: block;
    width: 21px;
    height: 19px;
    position: absolute;
    top: 14px;
    background: url("../images/search_button.png") no-repeat;
    left: 18px;
}
.nano {
    overflow: scroll;
    height: 557px;
    width: 818px;
}
.submit-delete input {
background: url(../images/post_03.png) no-repeat;
border: none;
width: 17px;
height: 16px;
}
.submit-delete input:hover {
background: url(../images/post_07.png) no-repeat;
border: none;
width: 17px;
height: 16px;
margin-top: -2px;
margin-right: 2px;
}